<div class='container'>


  <div class='row'>
    <div id="demo" class="collapse">
      <div class='col-md-6'>
        <h1>Register</h1>
        <% if flash[:errors] %>
        	<% flash[:errors].each do |x| %>
        		<p><%= x %></p>
        	<% end %>
        <% end %>
        <form action="/register" method="post">
          <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="user[name]">
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="user[email]">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="user[password]">
          </div>
          <div class="form-group">
            <label for="password_confirmation">Password Confirmation:</label>
            <input type="password" class="form-control" id="pwd" name="user[password_confirmation]">
          </div>

          <button type="submit" class="btn btn-default">Register</button>
        </form>
      </div>
    </div>


    <div class='col-md-6'>
      <h1>Log In</h1>
      <% if flash[:errors] %>
      	<% flash[:errors].each do |e| %>
      		<p><%= e %></p>
      	<% end %>
      <% end %>
      <form action="/login" method='post'>
        <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="password">
        </div>

        <button type="submit" class="btn btn-default">Log In</button>
      </form>
      <br>
      <a href="#demo" data-toggle="collapse">Register</a>
    </div>

  </div>




</div>
